


.formAcc, .table-Acc {
  display: flex;
  margin-left: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 500px;
  height: 400px;
  background: rgba(193, 190, 190, 0.493);
  margin-bottom: 20px;
}


.borderedTable {
  border-collapse: collapse;
  width: 100%;
}

.borderedTable th, .borderedTable td {
  background-color: white;
  border: 1px solid black;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;

}

.borderedTable th {
  background-color: #f2f2f2;
  
}
