@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Katibeh&family=Kaushan+Script&family=Platypi:ital,wght@0,300..800;1,300..800&family=Praise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Katibeh&family=Kaushan+Script&family=Platypi:ital,wght@0,300..800;1,300..800&family=Praise&display=swap');
.body{
    background-color: #000000;
}
.ContainerCashier {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.ContainerCashier .ContainerIconCashier{
  display: flex;
}


.ContainerCashier .ContainerIconCashier h1 {
    color: white;
    padding-bottom: 50px;
    margin-right: auto;
    margin-left: 20px; 
    display: flex;
    align-items: center;
    width: 0px;
}
.ContainerCashier .ContainerIconCashier button{ 
  color: rgb(10, 10, 10);
  margin-bottom: 50px;
  padding-left: 25px;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;  
 background-color: #ffffff;
 width: 100px;
 height: 40px;
  border-radius: 15px;
}
.ContainerCashier p {  
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}


.ContainerCashier .p2 {
    color: aquamarine;
    margin-left: auto; 
    
}


/* Line styles */
.ContainerCashier .lineCashier {
    width: calc(100% - 40px);
    height: 2px;
    background: white;
    padding-top: 1px;
}

.ContainerCashier .lineCashier:before,
.ContainerCashier .lineCashier:after {
    content: "";
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.OrderContainerCashier {
    background-color: #000000;
    display: flex;
    flex: 0.7;
    flex-direction: column;

}
.OrderContainerCashier .dropdown {
  margin-top: 10px;
  background-color: white;
}
.OrderCashier {
    width: 95%;
    display: block;
    height: 100%;
    margin: 30px 40px 50px 25px ;
    padding-left:20px ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#D9D9D9;
    border-radius: 25px;
}
.OrderCashier .OrderCashier  {
    width: 100px;
    height: 50px;
    border: 5px  transparent;
    border-color: #000000;
    color: black;
    background-color: #EA5050;
    line-height: 50px;
    border-radius: 25px;
    flex-direction: column;
}
.OrderTableCashier {
    width: 90%;
    margin-top: 40px; 
    border-collapse: collapse;
    margin-left: 50px;
  }
  
  .OrderTableCashier table {
    width: 90%;
    border-collapse: collapse;
  }
  
  .OrderTableCashier tbody tr {
    border: 2px solid #000000; 
    padding: 8px;
    text-align: center;
  }
  
  
  .OrderTableCashier tbody td {
    padding: 4px; 
  }
  
  .OrderTableCashier tbody td:first-child {
    font-weight: bold; 
    font-size: 20px;
  }
  .OrderTableCashier th, .OrderTableCashier td {
    border: 1px solid black; 
  }
  .OrderTableCashier tr:nth-child(even) {
    background-color: rgba(61, 60, 60, 0.161); 
  }
  .OrderTableCashier tr:nth-child(odd) {
    background-color: #D9D9D9; 
  }
  .OrderTableCashier tr:hover{
    background-color: #fafbff;
  }


  .OrderCashier .StatusCashier {
    display: flex; 
    align-items: flex-start; 
    width: 400px; 
    padding: 30px;
  }
  
  .OrderCashier .StatusCashier .checkbox-labelCashier {
    padding-left: 25px;
    padding-top: 25px;
    display: flex; 
    flex-direction: column; 
    margin-right: 40px; 
   transform: scale(1.5);
  }
  .OrderCashier .StatusCashier .checkbox-labelCashier p {
    font-size: 10px;
    padding: 0px;
    margin: 0px;
  }
  
  .OrderCashier .StatusCashier .checkbox-labelCashier input[type="checkbox"] {
    margin-bottom: 2px; 
  }


.OrderCashier .StatusCashier1 {
  display: flex;
  flex-direction: column;
    margin-top: 20px;
    width: 100px;
    height: 50px;
    border: 5px  transparent;
    border-color: #000000; 
    color: black;
    background-color: #ad2828;
    text-align: center; 
    justify-content: center;
    line-height: 3px;
    border-radius: 25px;
    font-size: 25px;
    font-weight: 550;
} 
.OrderCashier .ButtonCashier {
    background-color: rgb(219, 195, 13);
    
    border-radius: 25px;
    width: 90px;
    height: 40px;
    
    margin-top: 27px;
}









@media (max-width: 600px) {
    .ContainerCashier {
        
            width: 100%;
            height: 160px;
            background-color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow-x: hidden;
            overflow-y: hidden; 
      
        
    }
    .ContainerCashier .ContainerIcon h1 {
        font-size: 38px;
    }

    .OrderContainerCashier {
       min-height: 220;
       max-height: 280;
       width: 92%;
    }
    body {
        margin: 0px;
        padding:0px;
        background-color: #000000; 
    }
    

    
}